h1 {
  color: tomato;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");
@import '/fonts/font-awesome-4.7.0/css/font-awesome.min.css';
@import "variables";

body {
  background: #eee;
  color: black;
  font-family: 'Indie Flower', cursive;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background-color: $color2;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  border-top: 4px solid $color2;
}

.chatbar input {
  border: none;
  border: 3px solid $color1;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
  background: #ddd;
  outline-color: $color1;
}

.chatbar-username {
  width: 30%;
}

.chatbar-username input {
  width: 80%;
}

.chatbar-message {
  width: 70%;
}

.chatbar-message input {
  width: 90%;
}


.message {
  display: flex;
  padding: 5px;
  border: 1px solid #eee;
  margin: 10px 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #aaa;
  background-color: #fff;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
  color: $color3;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.message-image {
  max-width: 60%;
  height: auto;
}
.message-image img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #eee;
}

.navbar {
  background-image: linear-gradient(to right, $color1, $color2);
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: $color3;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar div {
  float: right;
  margin: 20px;
  color: $color1;
  font-size: 1.2em;
  font-weight: bold;
}


